
<h1>Listing all trips</h1>

<table>
  <tr>
    <th>From</th>
    <th>To</th>
    <th>Amount</th>
  </tr>

  <% @trips.each  do |trip| %>
    <tr>
      <td><%=trip.from %></td>
      <td><%=trip.to %></td>
      <td><%=trip.amount %></td>
      <td><%= link_to 'show',trip_path(trip)%></td>
    </tr>
  <% end %>
</table>