<h1><%= I18n.t('welcome.login-message') %></h1>

<form action="/authenticate" method="post">
  <p><%= I18n.t('enter.username') %></p></label><input type="text" name="username" aria-label="username"></br>
  <p><%= I18n.t('enter.password') %></p><input type="password" name="password" aria-label="password"></br>
  <input type="submit" name="Submit">
</form>

</body>
</html>